<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nu.paheco.patrik.LgTvRemote">
    <uses-permission android:name="android.permission.INTERNET"/>

    />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="nu.paheco.patrik.LgTvRemote.preferences"
            android:label="Settings"
            android:parentActivityName="nu.paheco.patrik.LgTvRemote.MainActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="nu.paheco.patrik.LgTvRemote.keypad"
            android:label="Keypad"
            android:parentActivityName="nu.paheco.patrik.LgTvRemote.MainActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="nu.paheco.patrik.LgTvRemote.help"
            android:label="Help"
            android:parentActivityName="nu.paheco.patrik.LgTvRemote.MainActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name="nu.paheco.patrik.LgTvRemote.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"></service>
    </application>


</manifest>